    
    <main>
      <div class="main-header">
      <h1>THE SOLAR SYSTEM</h1>
      </div>
      <img src="images/linesun1.svg" alt="line" id="line">

        <section id="solar1">
          <div class="label_wrapper">
            <h1 class="hidden">Mercury</h1>
            <object data="images/mercury.svg" type="image/svg+xml" class="svg-graphic" id="mercury" ></object>
          </div>
          <div class="text-wrapper">
            <h3>MERCURY</h3>
            <p>
              Mercury is the smallest and innermost planet in the Solar System. Its orbit around the Sun takes only 87.97 days,
               the shortest of all the planets in the Solar System. It is named after the Roman deity Mercury, the messenger of the gods.
            </p>
            <p>
              Mercury rotates in a way that is unique in the Solar System. It is tidally locked with the Sun in a 3:2 spin-orbit resonance,
               meaning that relative to the fixed stars, it rotates on its axis exactly three times for every two revolutions it makes around the Sun.
            </p>
            <span class="see-more" data-target="1"></span>
          </div>
        </section>

 <img src="images/linesun2.svg" alt="line" id="line2">

        <section id="solar1">
          <div class="label_wrapper">
            <h1 class="hidden">Venus</h1>
            <object data="images/venus.svg" type="image/svg+xml" class="svg-graphic" id="venus"></object>
          </div>
            <div class="text-wrapper">
            <h3>VENUS</h3>
            <p>
             Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the second-brightest natural object in the 
             night sky after the Moon, Venus can cast shadows and, rarely, is visible to the naked eye in broad daylight.Venus lies within Earth's orbit, and so never appears to venture far from the Sun,
              setting in the west just after dusk and rising in the east a bit before dawn. Venus orbits the Sun every 224.7 Earth days
            </p>
            <span class="see-more" data-target="2"></span>
          </div>
        </section>

 <img src="images/linesun3.svg" alt="line" id="line2">

        <section id="solar1">
          <div class="label_wrapper">
            <h1 class="hidden">Earth</h1>
            <object data="images/earth.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
          </div>
          <div class="text-wrapper">
            <h3>EARTH</h3>
            <p>
              Earth is the third planet from the Sun and the only astronomical object known to harbor life. According to radiometric dating and other
               sources of evidence, Earth formed over 4.5 billion years ago. Earth's gravity interacts with other objects in space,
               especially the Sun and the Moon, which is Earth's only natural satellite.
            </p>
            <span class="see-more" data-target="3"></span>
          </div>
        </section>

 <img src="images/linesun4.svg" alt="line" id="line2">

        <section id="solar1">      
          <div class="label_wrapper">
            <h1 class="hidden">Mars</h1>
            <object data="images/mars.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
          </div>
              <div class="text-wrapper">
            <h3>MARS</h3>
            <p>
              Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury. In English, Mars carries a name of the
               Roman god of war and is often referred to as the 'Red Planet'.The latter refers to the effect of the iron oxide prevalent on Mars' surface, which gives it a
               reddish appearance distinctive among the astronomical bodies visible to the naked eye
            </p>
            <span class="see-more" data-target="4"></span>
          </div>
        </section>

<img src="images/linesun5.svg" alt="line" id="line2">

        <section id="solar1">
          <div class="label_wrapper">
            <h1 class="hidden">Jupiter</h1>
            <object data="images/jupiter.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
          </div>
          <div class="text-wrapper">
            <h3>JUPITER</h3>
            <p>
             Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant with a mass one-thousandth that of the Sun,
              but two-and-a-half times that of all the other planets in the Solar System combined. Jupiter is one of the brightest objects visible to the
               naked eye in the night sky, 
             and has been known to all ancient civilizations since before recorded history. It is named after the Roman god Jupiter.
            </p>
            <span class="see-more" data-target="5"></span>
          </div>
        </section>

<img src="images/linesun6.svg" alt="line" id="line2">

        <section id="solar1">
          <div class="label_wrapper">
            <h1 class="hidden">Saturn</h1>
            <object data="images/saturn.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object> 
          </div>
            <div class="text-wrapper">
            <h3>SATURN</h3>
            <p>
              Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average
               radius about nine times that of Earth.[14][15] It has only one-eighth the average density of Earth; however, with its larger volume, Saturn
                is over 95 times more massive.
               Saturn is named after the Roman god of wealth and agriculture; its astronomical symbol (♄) represents the god's sickle.
            </p>
            <span class="see-more" data-target="6"></span>
          </div>
        </section>

<img src="images/linesun7.svg" alt="line" id="line2">

        <section id="solar1">
          <div class="label_wrapper">
            <h1 class="hidden">Neptune</h1>
            <object data="images/neptune.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
          </div>
          <div class="text-wrapper">
            <h3>NEPTUNE</h3>
            <p>
              Neptune is the eighth and farthest known planet from the Sun in the Solar System. In the Solar System, it is the fourth-largest 
              planet by diameter, the third-most-massive planet, and the densest giant planet. Neptune is 17 times the mass of Earth, slightly more massive
               than its near-twin Uranus. 
              Neptune is denser and physically smaller than Uranus because its greater mass causes more gravitational compression of its atmosphere. 
            </p>
            <span class="see-more" data-target="7"></span>
          </div>
        </section>

        <img src="images/linesun8.svg" alt="line" id="line2">

        <section id="solar1">
          <div class="label_wrapper">
            <h1 class="hidden">Uranus</h1>
            <object data="images/uranus.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
          </div>
            <div class="text-wrapper">
            <h3>URANUS</h3>
            <p>
              Uranus (from the Latin name Ūranus for the Greek god Οὐρανός) is the seventh planet from the Sun. It has the third-largest planetary
               radius and fourth-largest planetary mass in the Solar System. Uranus is similar in composition to Neptune, and both have bulk chemical
                compositions which differ from that of the larger gas giants Jupiter and Saturn.
               For this reason, scientists often classify Uranus and Neptune as "ice giants" to distinguish them from the gas giants.
            </p>
            <span class="see-more" data-target="8"></span>
          </div>
        </section>
        

        <article class="popover">
          <h4 class="density">STATS</h4>
          <div class="radius">
          </div>
          <h4 class="age"></h4>
        </article>
    </main>
    <script src="js/main.js"></script>
